.garden {
  position: relative;
  width: 1000px;
  height: 750px;
  border: 1rem solid #7a3e06;
  background: lightgreen;
  margin: 5rem auto;
}

.basket {
  position: absolute;
}

.candy {
  position: absolute;
}
